doctype html
html
  head
    meta(charset='en')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/display.css')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]
  body(id=pageid)

    include header

    .container-fluid
      .row.topbar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          #tm
          // include sidemenu
      .row
        .col-sm-3.col-md-2.sidebar
          #sm.active
           include sidemenu
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content

          include footer

    script(type='text/javascript' src='/javascripts/jquery-1.11.0.min.js')
    script(type='text/javascript' src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/emilio-fe.js')

    block jsscript
